<div class="mockup_preview"><iframe src="/mockup" frameborder="0"></iframe></div>
<p class="cta"><a class="button-link" href="https://briefio.typeform.com/to/OI3wiy">Sign-Up</a></p>
<div class="bg"></div>